n8n-doc/jar-analyzer-workflow-with-redis.json
{
  "name": "jar-analyzer-workflow-with-redis",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "389d6683-84ad-46c4-9b49-afda4a133f92",
      "name": "Start Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "05a64e41-2189-4f16-bfdf-9bb2db628016",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "IH7D2VRyHX4WOTgN",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/meta/jars",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        0
      ],
      "id": "ad620021-38b9-4d0a-84e6-d7655715ef1a",
      "name": "Get Jars List"
    },
    {
      "parameters": {
        "jsCode": "// Compute a stable projectKey (sha1) from jar meta list for Redis cache namespacing.\n// Input: /api/meta/jars response (items with jar_id/jar_name/jar_fingerprint).\nconst crypto = require('crypto');\n\nlet jars = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j)) jars.push(...j);\n  else if (Array.isArray(j?.data)) jars.push(...j.data);\n  else if (Array.isArray(j?.items)) jars.push(...j.items);\n  else jars.push(j);\n}\n\nconst norm = [];\nfor (const v of jars) {\n  if (!v) continue;\n  if (typeof v === 'string') {\n    const name = v.trim();\n    if (name) norm.push({ jar_id: null, jar_name: name, jar_fingerprint: '' });\n    continue;\n  }\n  if (typeof v === 'object') {\n    const jid = v.jar_id ?? v.jarId ?? v.id ?? null;\n    const jname = v.jar_name ?? v.jarName ?? v.name ?? '';\n    const fp = v.jar_fingerprint ?? v.fingerprint ?? '';\n    if (jname) norm.push({ jar_id: jid, jar_name: jname, jar_fingerprint: fp });\n  }\n}\n\nconst jarsSorted = norm.slice().sort((a, b) => {\n  const an = String(a.jar_name || '');\n  const bn = String(b.jar_name || '');\n  if (an !== bn) return an.localeCompare(bn);\n  return String(a.jar_id || '').localeCompare(String(b.jar_id || ''));\n});\n\nconst payload = jarsSorted.map(j => `${j.jar_id ?? ''}|${j.jar_name}|${j.jar_fingerprint ?? ''}`).join('\\n');\n\n// Strategy version: bump this string whenever you change workflow logic to invalidate old cache\nconst strategyVersion = '5lines-v2';\n\n// Default TTL: 7 days\nconst cacheTtlSeconds = 7 * 24 * 60 * 60;\n\nconst projectKey = crypto.createHash('sha1').update(payload).digest('hex');\n\nreturn [{\n  json: {\n    jarMeta: jarsSorted,\n    jarNames: jarsSorted.map(x => x.jar_name),\n    jarCount: jarsSorted.length,\n    projectKey,\n    strategyVersion,\n    cacheTtlSeconds\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ],
      "id": "bcd68895-2a29-4b13-8c4d-82ccafc88d99",
      "name": "Compute Project Key"
    },
    {
      "parameters": {
        "jsCode": "// Initialize scan config for 5-line audit workflow.\n// Input: /api/meta/jars response (items with jar_id/jar_name/jar_fingerprint).\nlet jarMeta = [];\nlet jarNames = [];\nlet jarIds = [];\n\nfunction pushJar(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    jarNames.push(v.trim());\n    return;\n  }\n  if (typeof v === 'object') {\n    const jid = v.jar_id ?? v.jarId ?? v.id;\n    const jname = v.jar_name ?? v.jarName ?? v.name;\n    if (jid !== undefined && jid !== null) jarIds.push(Number(jid));\n    if (jname) jarNames.push(String(jname));\n    jarMeta.push({\n      jar_id: jid ?? null,\n      jar_name: jname ?? '',\n      jar_fingerprint: v.jar_fingerprint ?? v.fingerprint ?? ''\n    });\n  }\n}\n\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushJar(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.list) ? j.list\n      : Array.isArray(j.jars) ? j.jars\n      : null;\n    if (arr) {\n      for (const v of arr) pushJar(v);\n      continue;\n    }\n  }\n  pushJar(j);\n}\n\njarNames = jarNames.map(s => String(s).trim()).filter(Boolean);\njarIds = jarIds.filter(n => Number.isFinite(n) && n > 0);\n\nconst constants = $node['Global Constants']?.json?.constants || {};\nconst gadgetDir = typeof constants['gadget-dir'] === 'string' ? constants['gadget-dir'] : '';\n\nconst scanConfig = {\n  // Slow line switches\n  enableDfsTaint: false,\n\n  // Line switches\n  enableGraphLite: true,\n  enableVulRules: true,\n  enableScaLeak: true,\n\n  // Scope controls (used by some tools)\n  scope: 'app',         // 'app' or 'all'\n\n  // Per-line budgets (tune for token/cost vs coverage)\n  limits: {\n    auditFast: {\n      callLimit: 14,\n      mappingSampleLimit: 120,\n      resourceSearchLimit: 80,\n      strSearchPerKeyword: 20,\n      maxCodeConfirm: 6\n    },\n    graphLite: {\n      callLimit: 16,\n      sinkPerTypeLimit: 20,\n      maxDepth: 4,\n      maxChains: 60\n    },\n    vulRules: {\n      callLimit: 10,\n      levels: ['high','medium'],   // run in order\n      groupBy: 'rule',\n      perRuleLimit: 15,\n      totalLimit: 160\n    },\n    scaLeak: {\n      callLimit: 10,\n      enableSca: true,\n      enableLeak: true,\n      enableGadget: false,\n      gadgetDir: gadgetDir,\n      leakLimit: 120\n    },\n    stage0: {\n      maxFindings: 120,\n      perLineLimit: 60\n    },\n    dfsTaint: {\n      callLimit: 28,\n      sinkNames: ['Runtime.exec(String)','ProcessBuilder.start','InitialContext.lookup','URL.openConnection'],\n      depth: 10,\n      maxLimit: 80,\n      maxPaths: 80,\n      timeoutMs: 90000,\n      onlyFromWeb: true,\n      resultLimit: 120,\n      compact: true,\n      blacklist: ''\n    }\n  }\n};\n\nreturn [{\n  json: {\n    jarMeta,\n    jarNames,\n    jarIds,\n    jarCount: jarNames.length,\n    scanConfig\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "b5c56f72-40f4-4fa6-9f68-c27a61e9d614",
      "name": "Init Scan Config"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "glm-4.6",
          "mode": "list",
          "cachedResultName": "GLM-4.6"
        },
        "options": {
          "thinking": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        800,
        -500
      ],
      "id": "8b9afc54-1e6b-4ee1-9391-6d920975dfa1",
      "name": "LLM",
      "credentials": {
        "anthropicApi": {
          "id": "TaNxIU4TnOE9TUHI",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['jar-analyzer-mcp-audit-fast'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        -500
      ],
      "id": "a5d3f21a-16a1-40eb-b1f1-d6043b377f0a",
      "name": "MCP audit-fast"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['jar-analyzer-mcp-graph-lite'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        -430
      ],
      "id": "4ee9b1df-fc56-4092-b21e-f383e92a8831",
      "name": "MCP graph-lite"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['jar-analyzer-mcp-vul-rules'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        -360
      ],
      "id": "66cac3b1-072f-47f8-8774-5f566ae6577a",
      "name": "MCP vul-rules"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['jar-analyzer-mcp-sca-leak'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        -290
      ],
      "id": "3f391298-ece1-4ea8-b91b-e1adbd8a9e9b",
      "name": "MCP sca-leak"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['jar-analyzer-mcp-dfs-taint'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        -220
      ],
      "id": "531c6f73-ec94-480f-b682-52b9180d1263",
      "name": "MCP dfs-taint"
    },
    {
      "parameters": {
        "endpointUrl": "={{ $('Global Constants').first().json.constants['report-service-mcp'] }}sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1000,
        520
      ],
      "id": "8796d45e-44ac-4443-825c-3a83f5e96dac",
      "name": "MCP report"
    },
    {
      "parameters": {
        "jsCode": "// Build Redis cacheKey for line: audit-fast\nconst strategyVersion = $json.strategyVersion || '5lines-v1';\nconst projectKey = $json.projectKey || 'unknown';\nconst cacheKey = `ja:5lines:${strategyVersion}:${projectKey}:audit-fast`;\n\nreturn [{\n  json: {\n    ...$json,\n    line: \"audit-fast\",\n    cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -300
      ],
      "id": "bc1a016b-b077-4197-8209-b7e5d43d4063",
      "name": "Build Cache Key audit-fast"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        -300
      ],
      "id": "136c5919-74a0-430e-a642-270f2008a4e9",
      "name": "Redis GET audit-fast",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Interpret Redis GET output and decide cacheHit.\n// Expected Redis node shape for GET: { value: <string|null> }.\n// We only inspect known value fields to avoid accidentally treating other context strings as cache values.\nconst j = $json || {};\n\nfunction getRedisValue(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  if (typeof obj.value === 'string' || obj.value === null) return obj.value;\n  if (typeof obj.data === 'string' || obj.data === null) return obj.data;\n  if (typeof obj.result === 'string' || obj.result === null) return obj.result;\n\n  // Some variants may nest under \"redis\"\n  if (obj.redis && typeof obj.redis === 'object') {\n    const r = obj.redis;\n    if (typeof r.value === 'string' || r.value === null) return r.value;\n    if (typeof r.data === 'string' || r.data === null) return r.data;\n    if (typeof r.result === 'string' || r.result === null) return r.result;\n  }\n\n  return null;\n}\n\nconst rawVal = getRedisValue(j);\nconst rawStr = (typeof rawVal === 'string') ? rawVal : '';\n\nlet cacheHit = false;\nlet cacheParseOk = false;\nlet cachedRecord = null;\nlet cacheError = null;\n\nif (rawStr && rawStr.trim().length > 0) {\n  try {\n    cachedRecord = JSON.parse(rawStr);\n    cacheParseOk = true;\n    cacheHit = true;\n  } catch (e) {\n    cacheError = `cache_json_parse_error: ${String(e)}`;\n  }\n}\n\nreturn {\n  json: {\n    ...j,\n    cacheHit,\n    cacheParseOk,\n    cacheError,\n    cachedRecord,\n    cacheValuePreview: rawStr.length > 500 ? rawStr.slice(0, 500) + '...(truncated)' : rawStr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -300
      ],
      "id": "8e533845-654c-4c94-a1d8-45c1c2b0ef90",
      "name": "Interpret Cache audit-fast"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        -300
      ],
      "id": "819f316b-2ad6-4bec-97a0-4da5f686daa6",
      "name": "If Cache Hit audit-fast"
    },
    {
      "parameters": {
        "jsCode": "// Use cachedRecord for audit-fast\nconst j = $json || {};\nconst rec = j.cachedRecord;\nlet findings = [];\nif (rec) {\n  if (Array.isArray(rec.findings)) findings = rec.findings;\n  else if (Array.isArray(rec)) findings = rec;\n  else if (typeof rec === 'object') findings = [rec];\n}\nreturn [{\n  json: {\n    ...j,\n    line: \"audit-fast\",\n    cacheHit: true,\n    parseOk: j.cacheParseOk === true,\n    parseError: j.cacheError || \"\",\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -360
      ],
      "id": "f073a115-b4a0-454f-8014-0c9cf7d6f4f6",
      "name": "Use Cached audit-fast"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $json || {};\nconst stage0Context = $node[\"Stage0 Aggregate Context\"]?.json?.stage0Context || {};\nconst className = String(ctx.className || \"unknown\");\nconst entryTypes = Array.isArray(ctx.entryTypes) ? ctx.entryTypes : (ctx.entryType ? [ctx.entryType] : []);\nconst entryType = ctx.entryType || (entryTypes[0] || \"\");\nconst classInfo = ctx.classInfo || {};\nconst methods = Array.isArray(ctx.methods) ? ctx.methods : [];\nconst mappings = Array.isArray(ctx.mappings) ? ctx.mappings : [];\n\nconst lim = ($node[\"Init Scan Config\"]?.json?.scanConfig?.limits?.auditFast) || {};\nconst methodListLimit = lim.methodListLimit || 120;\nconst mappingLimit = lim.mappingSampleLimit || 120;\nconst maxCodeConfirm = lim.maxCodeConfirm || 6;\nconst resourceSearchLimit = lim.resourceSearchLimit || 80;\nconst strSearchPerKeyword = lim.strSearchPerKeyword || 20;\n\nconst methodsSample = methods.slice(0, methodListLimit);\nconst mappingsSample = mappings.slice(0, mappingLimit);\n\nlet callLimit = methodsSample.length * 3;\ncallLimit = callLimit > 50 ? 50 : callLimit;\ncallLimit = callLimit < 6 ? 6 : callLimit;\n\nconst vulnTypes = [\n  \"deserialize\",\n  \"file_path_traversal\",\n  \"redirect\",\n  \"ssrf\",\n  \"sql_injection\",\n  \"template_injection\",\n  \"command_exec\",\n  \"xxe\",\n  \"xss\",\n  \"auth_bypass\",\n  \"insecure_crypto\",\n  \"unsafe_config\"\n];\n\nconst chatInput = `\n你是安全审计助手，请使用 **audit-fast** MCP 工具完成当前入口的快速审计。\n目标：围绕 entrypoint 的参数处理与敏感调用，找高风险问题并给出证据。\n\n[entry]\nclass=${className}\nentryType=${entryType}\nentryTypes=${JSON.stringify(entryTypes)}\n\n[classInfo]\n${JSON.stringify(classInfo, null, 2)}\n\n[methods(sample <= ${methodListLimit})]\n${JSON.stringify(methodsSample, null, 2)}\n\n[mappings(sample <= ${mappingLimit})]\n${JSON.stringify(mappingsSample, null, 2)}\n\n[stage0Context]\n${JSON.stringify(stage0Context, null, 2)}\n\n约束：\n- 只做高收益检查，不要穷举。\n- 可用工具：methods_search / callgraph_edges / resources_search / resources_get / code_get / semantic_hints / config_usage / class_info。\n- callgraph_edges 每个方法最多 ${callLimit} 条；code_get 最多 ${maxCodeConfirm} 次。\n- resources_search 每个关键词最多 ${strSearchPerKeyword} 结果，总量 ${resourceSearchLimit}。\n\n输出 JSON 数组 findings：\n- 字段：type(建议从 ${JSON.stringify(vulnTypes)} 选或衍生)、severity(high/medium/low)、confidence(high/medium/low)、reason、trace、evidence(可选)\n- trace 为数组，每个元素 {class, method, desc, jarName?, line?}\n- 同一 class#method#desc + type 去重\n- 无法发现则返回 []\n`;\n\nreturn [{ json: { ...$json, line: \"audit-fast\", callLimit, chatInput } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -240
      ],
      "id": "eec319ce-5465-43d7-a899-576b22b2fcc4",
      "name": "Build Prompt audit-fast"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你正在执行 audit-fast 主线。入口/方法/映射已由上游 API 提供，可直接作为事实证据。\n不要重复调用入口枚举类工具（entrypoints_list / spring_mappings / methods_search?class）。\n如需补充证据，只能使用这些 MCP 工具：\n- methods_search（字符串/注解）\n- callgraph_edges / callgraph_by_sink\n- resources_search / resources_get\n- code_get\n- semantic_hints / config_usage / class_info\n必须遵守：\n1) 只能使用工具获取事实证据，禁止猜测\n2) 控制输出规模（limit/offset/compact/totalLimit）\n3) 只输出 JSON 数组，无发现输出 []\n4) findings 必含字段：line/type/severity/confidence/score/reason/trace\n可以附加 evidence/metadata，但不要输出大段源码全文。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2000,
        -240
      ],
      "id": "bdea7ddf-afe9-4311-9f4d-2deaf2b78c6c",
      "name": "Agent audit-fast",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output into {line, findings[]} while preserving context fields (e.g., cacheKey/projectKey).\nconst ctx = $json || {};\nconst line = ctx.line || (ctx.context && ctx.context.line) || \"unknown\";\n\nfunction extractText(v) {\n  if (v === null || v === undefined) return \"\";\n  if (typeof v === \"string\") return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nlet raw = ctx.output ?? ctx.text ?? ctx.data ?? ctx;\nlet s = extractText(raw).trim();\n\n// Strip markdown fences if present\nconst fence = s.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fence && fence[1]) s = fence[1].trim();\n\nlet findings = [];\nlet parseOk = false;\nlet parseError = \"\";\n\nif (!s) {\n  parseError = \"empty_response\";\n} else {\n  try {\n    const obj = JSON.parse(s);\n    if (Array.isArray(obj)) {\n      findings = obj;\n      parseOk = true;\n    } else if (obj && typeof obj === \"object\") {\n      if (Array.isArray(obj.findings)) {\n        findings = obj.findings;\n        parseOk = true;\n      } else if (Array.isArray(obj.data)) {\n        findings = obj.data;\n        parseOk = true;\n      } else {\n        parseError = \"json_object_without_findings_array\";\n      }\n    } else {\n      parseError = \"json_not_array\";\n    }\n  } catch (e) {\n    parseError = e.message || String(e);\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    line,\n    parseOk,\n    parseError,\n    findings: Array.isArray(findings) ? findings : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -240
      ],
      "id": "8826e6c2-5f90-4628-b963-59a38be0a07c",
      "name": "Parse audit-fast"
    },
    {
      "parameters": {
        "jsCode": "// Prepare cacheValue JSON for audit-fast\nconst j = $json || {};\nif (j.parseOk !== true) {\n  return [];\n}\nconst cacheValue = JSON.stringify({\n  line: \"audit-fast\",\n  savedAt: new Date().toISOString(),\n  findings: Array.isArray(j.findings) ? j.findings : []\n});\nreturn [{\n  json: {\n    ...j,\n    cacheValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -240
      ],
      "id": "5b5bc274-d507-4717-bf49-88ba8d242277",
      "name": "Prepare Cache Value audit-fast"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ $json.cacheValue }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.cacheTtlSeconds }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        -240
      ],
      "id": "83ea7823-c71c-4084-9e76-e64dff40aaf1",
      "name": "Redis SET audit-fast",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Redis cacheKey for line: graph-lite\nconst strategyVersion = $json.strategyVersion || '5lines-v1';\nconst projectKey = $json.projectKey || 'unknown';\nconst cacheKey = `ja:5lines:${strategyVersion}:${projectKey}:graph-lite`;\n\nreturn [{\n  json: {\n    ...$json,\n    line: \"graph-lite\",\n    cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -120
      ],
      "id": "05eabef1-ee4e-4c43-a01e-6743ab9f0b38",
      "name": "Build Cache Key graph-lite"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        -120
      ],
      "id": "25b40a6d-fb4b-4c0a-b2e9-04372d2f077d",
      "name": "Redis GET graph-lite",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Interpret Redis GET output and decide cacheHit.\n// Expected Redis node shape for GET: { value: <string|null> }.\n// We only inspect known value fields to avoid accidentally treating other context strings as cache values.\nconst j = $json || {};\n\nfunction getRedisValue(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  if (typeof obj.value === 'string' || obj.value === null) return obj.value;\n  if (typeof obj.data === 'string' || obj.data === null) return obj.data;\n  if (typeof obj.result === 'string' || obj.result === null) return obj.result;\n\n  // Some variants may nest under \"redis\"\n  if (obj.redis && typeof obj.redis === 'object') {\n    const r = obj.redis;\n    if (typeof r.value === 'string' || r.value === null) return r.value;\n    if (typeof r.data === 'string' || r.data === null) return r.data;\n    if (typeof r.result === 'string' || r.result === null) return r.result;\n  }\n\n  return null;\n}\n\nconst rawVal = getRedisValue(j);\nconst rawStr = (typeof rawVal === 'string') ? rawVal : '';\n\nlet cacheHit = false;\nlet cacheParseOk = false;\nlet cachedRecord = null;\nlet cacheError = null;\n\nif (rawStr && rawStr.trim().length > 0) {\n  try {\n    cachedRecord = JSON.parse(rawStr);\n    cacheParseOk = true;\n    cacheHit = true;\n  } catch (e) {\n    cacheError = `cache_json_parse_error: ${String(e)}`;\n  }\n}\n\nreturn {\n  json: {\n    ...j,\n    cacheHit,\n    cacheParseOk,\n    cacheError,\n    cachedRecord,\n    cacheValuePreview: rawStr.length > 500 ? rawStr.slice(0, 500) + '...(truncated)' : rawStr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -120
      ],
      "id": "006d23ea-f281-4cba-94b0-e93cab8bbe4c",
      "name": "Interpret Cache graph-lite"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        -120
      ],
      "id": "8b44d5c1-61ae-4fd3-b2fc-8491f212498d",
      "name": "If Cache Hit graph-lite"
    },
    {
      "parameters": {
        "jsCode": "// Use cachedRecord for graph-lite\nconst j = $json || {};\nconst rec = j.cachedRecord;\nlet findings = [];\nif (rec) {\n  if (Array.isArray(rec.findings)) findings = rec.findings;\n  else if (Array.isArray(rec)) findings = rec;\n  else if (typeof rec === 'object') findings = [rec];\n}\nreturn [{\n  json: {\n    ...j,\n    line: \"graph-lite\",\n    cacheHit: true,\n    parseOk: j.cacheParseOk === true,\n    parseError: j.cacheError || \"\",\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -180
      ],
      "id": "2293fdbc-74bd-45c0-a3fc-6a9eda189825",
      "name": "Use Cached graph-lite"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.scanConfig || {};\nconst stage0Context = $node[\"Stage0 Aggregate Context\"]?.json?.stage0Context || {};\nconst lim = cfg.limits && cfg.limits.graphLite ? cfg.limits.graphLite : {};\nconst callLimit = lim.callLimit || 16;\n\nconst riskyKeywords = [\n  \"exec\", \"eval\", \"readObject\", \"deserialize\", \"lookup\",\n  \"jndi\", \"ldap\", \"jdbc\", \"query\", \"prepareStatement\",\n  \"template\", \"freemarker\", \"thymeleaf\", \"velocity\",\n  \"openConnection\", \"openStream\", \"file\", \"write\", \"delete\"\n];\n\nconst chatInput = `\n你是调用图分析助手，请使用 **graph-lite** 工具建立局部调用关系，输出高风险调用链或热点。\n\n[stage0Context]\n${JSON.stringify(stage0Context, null, 2)}\n\n建议步骤：\n1) 从 entrypoint / stage0 trace 选 3~6 个方法作为种子。\n2) 对每个种子调用 callgraph_edges(direction=callers, limit=${callLimit}) 获取上游；必要时再取 callees。\n3) 使用 methods_search(str=keyword) + classLike(可选) 找到高危 API（关键词：${JSON.stringify(riskyKeywords)}），再补 callgraph_edges。\n4) 输出 findings（JSON 数组）：\n   - type: \"callgraph_hotspot\" 或 \"risk_chain\"\n   - severity/confidence\n   - trace: [{class,method,desc,jarName?}] 至少 2 节点\n\n无法发现则返回 []。\n`;\n\nreturn [{ json: { ...$json, line: \"graph-lite\", callLimit, chatInput } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -60
      ],
      "id": "880b25c6-6463-4bc0-9e5c-3890b140076e",
      "name": "Build Prompt graph-lite"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你正在执行 graph-lite 调用图线。\n可用工具：callgraph_edges / callgraph_by_sink / methods_search / methods_impls / class_info / semantic_hints / jar_list / jar_resolve。\n必须：只输出 JSON 数组；无发现输出 []；控制输出规模；不得猜测。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2000,
        -60
      ],
      "id": "77ebd930-8d7f-4fb8-93a0-e3a993dd4dbd",
      "name": "Agent graph-lite",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output into {line, findings[]} while preserving context fields (e.g., cacheKey/projectKey).\nconst ctx = $json || {};\nconst line = ctx.line || (ctx.context && ctx.context.line) || \"unknown\";\n\nfunction extractText(v) {\n  if (v === null || v === undefined) return \"\";\n  if (typeof v === \"string\") return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nlet raw = ctx.output ?? ctx.text ?? ctx.data ?? ctx;\nlet s = extractText(raw).trim();\n\n// Strip markdown fences if present\nconst fence = s.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fence && fence[1]) s = fence[1].trim();\n\nlet findings = [];\nlet parseOk = false;\nlet parseError = \"\";\n\nif (!s) {\n  parseError = \"empty_response\";\n} else {\n  try {\n    const obj = JSON.parse(s);\n    if (Array.isArray(obj)) {\n      findings = obj;\n      parseOk = true;\n    } else if (obj && typeof obj === \"object\") {\n      if (Array.isArray(obj.findings)) {\n        findings = obj.findings;\n        parseOk = true;\n      } else if (Array.isArray(obj.data)) {\n        findings = obj.data;\n        parseOk = true;\n      } else {\n        parseError = \"json_object_without_findings_array\";\n      }\n    } else {\n      parseError = \"json_not_array\";\n    }\n  } catch (e) {\n    parseError = e.message || String(e);\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    line,\n    parseOk,\n    parseError,\n    findings: Array.isArray(findings) ? findings : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -60
      ],
      "id": "c9027fb0-8ec9-4beb-b42e-36ba6239006e",
      "name": "Parse graph-lite"
    },
    {
      "parameters": {
        "jsCode": "// Prepare cacheValue JSON for graph-lite\nconst j = $json || {};\nif (j.parseOk !== true) {\n  return [];\n}\nconst cacheValue = JSON.stringify({\n  line: \"graph-lite\",\n  savedAt: new Date().toISOString(),\n  findings: Array.isArray(j.findings) ? j.findings : []\n});\nreturn [{\n  json: {\n    ...j,\n    cacheValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -60
      ],
      "id": "df1ecd67-c356-43aa-9734-87f2bc2a450b",
      "name": "Prepare Cache Value graph-lite"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ $json.cacheValue }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.cacheTtlSeconds }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        -60
      ],
      "id": "bcfe8f59-c81b-4afb-898b-5d5910d98157",
      "name": "Redis SET graph-lite",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Redis cacheKey for line: vul-rules\nconst strategyVersion = $json.strategyVersion || '5lines-v1';\nconst projectKey = $json.projectKey || 'unknown';\nconst cacheKey = `ja:5lines:${strategyVersion}:${projectKey}:vul-rules`;\n\nreturn [{\n  json: {\n    ...$json,\n    line: \"vul-rules\",\n    cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        60
      ],
      "id": "3b40da87-e30c-46aa-a31a-c7d5a6307a93",
      "name": "Build Cache Key vul-rules"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        60
      ],
      "id": "a8c2934a-06b1-4ecc-9ab5-081f2d360b17",
      "name": "Redis GET vul-rules",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Interpret Redis GET output and decide cacheHit.\n// Expected Redis node shape for GET: { value: <string|null> }.\n// We only inspect known value fields to avoid accidentally treating other context strings as cache values.\nconst j = $json || {};\n\nfunction getRedisValue(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  if (typeof obj.value === 'string' || obj.value === null) return obj.value;\n  if (typeof obj.data === 'string' || obj.data === null) return obj.data;\n  if (typeof obj.result === 'string' || obj.result === null) return obj.result;\n\n  // Some variants may nest under \"redis\"\n  if (obj.redis && typeof obj.redis === 'object') {\n    const r = obj.redis;\n    if (typeof r.value === 'string' || r.value === null) return r.value;\n    if (typeof r.data === 'string' || r.data === null) return r.data;\n    if (typeof r.result === 'string' || r.result === null) return r.result;\n  }\n\n  return null;\n}\n\nconst rawVal = getRedisValue(j);\nconst rawStr = (typeof rawVal === 'string') ? rawVal : '';\n\nlet cacheHit = false;\nlet cacheParseOk = false;\nlet cachedRecord = null;\nlet cacheError = null;\n\nif (rawStr && rawStr.trim().length > 0) {\n  try {\n    cachedRecord = JSON.parse(rawStr);\n    cacheParseOk = true;\n    cacheHit = true;\n  } catch (e) {\n    cacheError = `cache_json_parse_error: ${String(e)}`;\n  }\n}\n\nreturn {\n  json: {\n    ...j,\n    cacheHit,\n    cacheParseOk,\n    cacheError,\n    cachedRecord,\n    cacheValuePreview: rawStr.length > 500 ? rawStr.slice(0, 500) + '...(truncated)' : rawStr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        60
      ],
      "id": "7628c487-1bda-4a5d-84ff-3416b768d846",
      "name": "Interpret Cache vul-rules"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        60
      ],
      "id": "4afeb0a7-1a5b-4208-ae10-970e48a433a2",
      "name": "If Cache Hit vul-rules"
    },
    {
      "parameters": {
        "jsCode": "// Use cachedRecord for vul-rules\nconst j = $json || {};\nconst rec = j.cachedRecord;\nlet findings = [];\nif (rec) {\n  if (Array.isArray(rec.findings)) findings = rec.findings;\n  else if (Array.isArray(rec)) findings = rec;\n  else if (typeof rec === 'object') findings = [rec];\n}\nreturn [{\n  json: {\n    ...j,\n    line: \"vul-rules\",\n    cacheHit: true,\n    parseOk: j.cacheParseOk === true,\n    parseError: j.cacheError || \"\",\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        0
      ],
      "id": "8c96911a-c479-47ff-80d7-2dcfcd08c300",
      "name": "Use Cached vul-rules"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.scanConfig || {};\nconst lim = cfg.limits && cfg.limits.vulRules ? cfg.limits.vulRules : {};\nconst callLimit = lim.callLimit || 10;\n\nconst levels = Array.isArray(lim.levels) && lim.levels.length ? lim.levels : [\"high\"];\nconst perRuleLimit = lim.perRuleLimit || 15;\nconst totalLimit = lim.totalLimit || 160;\nconst groupBy = lim.groupBy || \"rule\";\n\nconst chatInput = `\n你是漏洞规则审计助手，请执行 **vul-rules** 相关工具。\n目标：使用规则库定位调用点并输出 JSON findings。\n\n步骤：\n1) 调用 vul_rules 获取规则信息（用于了解可用规则）。\n2) 对每个 level in ${JSON.stringify(levels)}：\n   - 先调用 vul_search(level=level, groupBy=\"rule\", totalLimit=${totalLimit}, limit=${perRuleLimit})\n   - 对 count>0 的规则再调用：vul_search(name=ruleName, level=level, groupBy=\"method\", totalLimit=${totalLimit}, limit=${perRuleLimit})\n3) 将 MethodResult 转换为 finding：\n   - line=\"vul-rules\"\n   - type=\"vul-rule::<ruleName>\"，severity=level\n   - confidence=medium/high\n   - trace 至少包含 method 的 class/method/desc (可附 jarName/actualPath)\n\n注意：\n- 去重：同一 class#method#desc + ruleName 只保留一次\n- 无结果返回 []\n`;\n\nreturn [{ json: { ...$json, line: \"vul-rules\", callLimit, chatInput } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        120
      ],
      "id": "ebbc6790-f85c-40b9-bc2c-8789aad8ad09",
      "name": "Build Prompt vul-rules"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你正在执行 vul-rules 线。\n只允许使用：vul_rules / vul_search。\n必须：只输出 JSON 数组；无发现输出 []；控制输出规模；不得猜测。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2000,
        120
      ],
      "id": "e83b2cd9-bb7e-4986-8ca8-8bdf609d6b6c",
      "name": "Agent vul-rules",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output into {line, findings[]} while preserving context fields (e.g., cacheKey/projectKey).\nconst ctx = $json || {};\nconst line = ctx.line || (ctx.context && ctx.context.line) || \"unknown\";\n\nfunction extractText(v) {\n  if (v === null || v === undefined) return \"\";\n  if (typeof v === \"string\") return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nlet raw = ctx.output ?? ctx.text ?? ctx.data ?? ctx;\nlet s = extractText(raw).trim();\n\n// Strip markdown fences if present\nconst fence = s.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fence && fence[1]) s = fence[1].trim();\n\nlet findings = [];\nlet parseOk = false;\nlet parseError = \"\";\n\nif (!s) {\n  parseError = \"empty_response\";\n} else {\n  try {\n    const obj = JSON.parse(s);\n    if (Array.isArray(obj)) {\n      findings = obj;\n      parseOk = true;\n    } else if (obj && typeof obj === \"object\") {\n      if (Array.isArray(obj.findings)) {\n        findings = obj.findings;\n        parseOk = true;\n      } else if (Array.isArray(obj.data)) {\n        findings = obj.data;\n        parseOk = true;\n      } else {\n        parseError = \"json_object_without_findings_array\";\n      }\n    } else {\n      parseError = \"json_not_array\";\n    }\n  } catch (e) {\n    parseError = e.message || String(e);\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    line,\n    parseOk,\n    parseError,\n    findings: Array.isArray(findings) ? findings : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        120
      ],
      "id": "0a0549c8-2840-4816-988b-3a7915717eed",
      "name": "Parse vul-rules"
    },
    {
      "parameters": {
        "jsCode": "// Prepare cacheValue JSON for vul-rules\nconst j = $json || {};\nif (j.parseOk !== true) {\n  return [];\n}\nconst cacheValue = JSON.stringify({\n  line: \"vul-rules\",\n  savedAt: new Date().toISOString(),\n  findings: Array.isArray(j.findings) ? j.findings : []\n});\nreturn [{\n  json: {\n    ...j,\n    cacheValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        120
      ],
      "id": "4b10cace-8914-4bd9-b8c0-5a7c8a342954",
      "name": "Prepare Cache Value vul-rules"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ $json.cacheValue }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.cacheTtlSeconds }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        120
      ],
      "id": "c4be20da-4824-4af1-b002-d8c49d7491eb",
      "name": "Redis SET vul-rules",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Redis cacheKey for line: sca-leak\nconst strategyVersion = $json.strategyVersion || '5lines-v1';\nconst projectKey = $json.projectKey || 'unknown';\nconst cacheKey = `ja:5lines:${strategyVersion}:${projectKey}:sca-leak`;\n\nreturn [{\n  json: {\n    ...$json,\n    line: \"sca-leak\",\n    cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        240
      ],
      "id": "8d0d62a4-337e-46c1-9b6c-424a77d2b84d",
      "name": "Build Cache Key sca-leak"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        240
      ],
      "id": "6f2565b2-4ee0-465c-9df4-efcf4035130b",
      "name": "Redis GET sca-leak",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Interpret Redis GET output and decide cacheHit.\n// Expected Redis node shape for GET: { value: <string|null> }.\n// We only inspect known value fields to avoid accidentally treating other context strings as cache values.\nconst j = $json || {};\n\nfunction getRedisValue(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  if (typeof obj.value === 'string' || obj.value === null) return obj.value;\n  if (typeof obj.data === 'string' || obj.data === null) return obj.data;\n  if (typeof obj.result === 'string' || obj.result === null) return obj.result;\n\n  // Some variants may nest under \"redis\"\n  if (obj.redis && typeof obj.redis === 'object') {\n    const r = obj.redis;\n    if (typeof r.value === 'string' || r.value === null) return r.value;\n    if (typeof r.data === 'string' || r.data === null) return r.data;\n    if (typeof r.result === 'string' || r.result === null) return r.result;\n  }\n\n  return null;\n}\n\nconst rawVal = getRedisValue(j);\nconst rawStr = (typeof rawVal === 'string') ? rawVal : '';\n\nlet cacheHit = false;\nlet cacheParseOk = false;\nlet cachedRecord = null;\nlet cacheError = null;\n\nif (rawStr && rawStr.trim().length > 0) {\n  try {\n    cachedRecord = JSON.parse(rawStr);\n    cacheParseOk = true;\n    cacheHit = true;\n  } catch (e) {\n    cacheError = `cache_json_parse_error: ${String(e)}`;\n  }\n}\n\nreturn {\n  json: {\n    ...j,\n    cacheHit,\n    cacheParseOk,\n    cacheError,\n    cachedRecord,\n    cacheValuePreview: rawStr.length > 500 ? rawStr.slice(0, 500) + '...(truncated)' : rawStr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        240
      ],
      "id": "78ca9e05-9434-454d-bcb5-455e70bff32c",
      "name": "Interpret Cache sca-leak"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        240
      ],
      "id": "bc7df292-3f6c-47d4-8ca7-94169104a883",
      "name": "If Cache Hit sca-leak"
    },
    {
      "parameters": {
        "jsCode": "// Use cachedRecord for sca-leak\nconst j = $json || {};\nconst rec = j.cachedRecord;\nlet findings = [];\nif (rec) {\n  if (Array.isArray(rec.findings)) findings = rec.findings;\n  else if (Array.isArray(rec)) findings = rec;\n  else if (typeof rec === 'object') findings = [rec];\n}\nreturn [{\n  json: {\n    ...j,\n    line: \"sca-leak\",\n    cacheHit: true,\n    parseOk: j.cacheParseOk === true,\n    parseError: j.cacheError || \"\",\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        180
      ],
      "id": "dbf29ced-4e76-4a04-9acd-f2719317a1d3",
      "name": "Use Cached sca-leak"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.scanConfig || {};\nconst lim = cfg.limits && cfg.limits.scaLeak ? cfg.limits.scaLeak : {};\nconst callLimit = lim.callLimit || 10;\n\nconst enableSca = lim.enableSca !== false;\nconst enableLeak = lim.enableLeak !== false;\nconst enableGadget = lim.enableGadget === true;\nconst gadgetDir = lim.gadgetDir || '';\nconst leakLimit = lim.leakLimit || 120;\n\nconst chatInput = `\n你是依赖风险/敏感信息审计助手，请执行 **sca-leak** 相关工具并输出 JSON findings。\n\n步骤：\n1) ${enableSca ? \"调用 sca_scan(log4j=1, fastjson=1, shiro=1) 获取依赖漏洞\" : \"跳过 sca_scan (enableSca=false)\"}\n2) ${enableLeak ? `调用 leak_scan(limit=${leakLimit}, scope=\\\\\\\"${cfg.scope||'app'}\\\\\\\") 获取敏感泄漏` : \"跳过 leak_scan (enableLeak=false)\"}\n3) ${enableGadget ? `调用 gadget_scan(dir=\\\\\\\"${gadgetDir}\\\\\\\", native=1, hessian=1, fastjson=1, jdbc=1)` : \"跳过 gadget_scan (enableGadget=false 或 gadgetDir 为空)\"}\n\n输出规范：\n- SCA：type=\"dependency_cve\"，severity 参考 CVSS（>=9 high, >=7 medium, else low），confidence=high\n- 泄漏：type=\"secret_leak\"，severity=high，confidence=high，reason 包含 typeName + value 片段（mask）\n- gadget：type=\"gadget_presence\" / \"deserialization_gadget\"，severity=medium/high\n- trace 至少 1 节点；SCA 可用 jarPath 作为 trace.desc\n\n注意：\n- 对 value 进行脱敏（只保留前4+后4，中间 ***）\n- 无结果返回 []\n`;\n\nreturn [{ json: { ...$json, line: \"sca-leak\", callLimit, chatInput } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ],
      "id": "6001ad06-f7f1-43c6-a825-16f7291b3fc4",
      "name": "Build Prompt sca-leak"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你正在执行 sca-leak 线。\n只允许使用：sca_scan / leak_scan / gadget_scan。\n必须：只输出 JSON 数组；无发现输出 []；控制输出规模；不得猜测。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2000,
        300
      ],
      "id": "d7310326-e6a3-43a9-9761-03df097af76c",
      "name": "Agent sca-leak",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output into {line, findings[]} while preserving context fields (e.g., cacheKey/projectKey).\nconst ctx = $json || {};\nconst line = ctx.line || (ctx.context && ctx.context.line) || \"unknown\";\n\nfunction extractText(v) {\n  if (v === null || v === undefined) return \"\";\n  if (typeof v === \"string\") return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nlet raw = ctx.output ?? ctx.text ?? ctx.data ?? ctx;\nlet s = extractText(raw).trim();\n\n// Strip markdown fences if present\nconst fence = s.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fence && fence[1]) s = fence[1].trim();\n\nlet findings = [];\nlet parseOk = false;\nlet parseError = \"\";\n\nif (!s) {\n  parseError = \"empty_response\";\n} else {\n  try {\n    const obj = JSON.parse(s);\n    if (Array.isArray(obj)) {\n      findings = obj;\n      parseOk = true;\n    } else if (obj && typeof obj === \"object\") {\n      if (Array.isArray(obj.findings)) {\n        findings = obj.findings;\n        parseOk = true;\n      } else if (Array.isArray(obj.data)) {\n        findings = obj.data;\n        parseOk = true;\n      } else {\n        parseError = \"json_object_without_findings_array\";\n      }\n    } else {\n      parseError = \"json_not_array\";\n    }\n  } catch (e) {\n    parseError = e.message || String(e);\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    line,\n    parseOk,\n    parseError,\n    findings: Array.isArray(findings) ? findings : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "id": "0461215b-edd7-4741-bc2b-1d0b4e58acd0",
      "name": "Parse sca-leak"
    },
    {
      "parameters": {
        "jsCode": "// Prepare cacheValue JSON for sca-leak\nconst j = $json || {};\nif (j.parseOk !== true) {\n  return [];\n}\nconst cacheValue = JSON.stringify({\n  line: \"sca-leak\",\n  savedAt: new Date().toISOString(),\n  findings: Array.isArray(j.findings) ? j.findings : []\n});\nreturn [{\n  json: {\n    ...j,\n    cacheValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "id": "4f1788bd-10e2-4f63-8128-63173efc9b67",
      "name": "Prepare Cache Value sca-leak"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ $json.cacheValue }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.cacheTtlSeconds }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        300
      ],
      "id": "3c6bd6d3-e297-4759-8f3b-48651eb34264",
      "name": "Redis SET sca-leak",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scanConfig.enableDfsTaint }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        420
      ],
      "id": "f213b8c5-b800-4219-bf53-75a295fe048e",
      "name": "If Enable dfs-taint"
    },
    {
      "parameters": {
        "jsCode": "// DFS slow line disabled: return empty findings placeholder so merge can proceed.\nreturn [{\n  json: {\n    line: \"dfs-taint\",\n    parseOk: true,\n    parseError: \"disabled\",\n    findings: []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        520
      ],
      "id": "572dc3b4-0f6f-43f8-bfeb-d3f29ed8783f",
      "name": "DFS Disabled"
    },
    {
      "parameters": {
        "jsCode": "// Build Redis cacheKey for line: dfs-taint\nconst strategyVersion = $json.strategyVersion || '5lines-v1';\nconst projectKey = $json.projectKey || 'unknown';\nconst cacheKey = `ja:5lines:${strategyVersion}:${projectKey}:dfs-taint`;\n\nreturn [{\n  json: {\n    ...$json,\n    line: \"dfs-taint\",\n    cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        360
      ],
      "id": "0b99da5d-8537-47b8-b793-7d1df5acdc1c",
      "name": "Build Cache Key dfs-taint"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cacheKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1400,
        360
      ],
      "id": "322faaa2-0b02-4e91-9bee-b4bfd12b64ec",
      "name": "Redis GET dfs-taint",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Interpret Redis GET output and decide cacheHit.\n// Expected Redis node shape for GET: { value: <string|null> }.\n// We only inspect known value fields to avoid accidentally treating other context strings as cache values.\nconst j = $json || {};\n\nfunction getRedisValue(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  if (typeof obj.value === 'string' || obj.value === null) return obj.value;\n  if (typeof obj.data === 'string' || obj.data === null) return obj.data;\n  if (typeof obj.result === 'string' || obj.result === null) return obj.result;\n\n  // Some variants may nest under \"redis\"\n  if (obj.redis && typeof obj.redis === 'object') {\n    const r = obj.redis;\n    if (typeof r.value === 'string' || r.value === null) return r.value;\n    if (typeof r.data === 'string' || r.data === null) return r.data;\n    if (typeof r.result === 'string' || r.result === null) return r.result;\n  }\n\n  return null;\n}\n\nconst rawVal = getRedisValue(j);\nconst rawStr = (typeof rawVal === 'string') ? rawVal : '';\n\nlet cacheHit = false;\nlet cacheParseOk = false;\nlet cachedRecord = null;\nlet cacheError = null;\n\nif (rawStr && rawStr.trim().length > 0) {\n  try {\n    cachedRecord = JSON.parse(rawStr);\n    cacheParseOk = true;\n    cacheHit = true;\n  } catch (e) {\n    cacheError = `cache_json_parse_error: ${String(e)}`;\n  }\n}\n\nreturn {\n  json: {\n    ...j,\n    cacheHit,\n    cacheParseOk,\n    cacheError,\n    cachedRecord,\n    cacheValuePreview: rawStr.length > 500 ? rawStr.slice(0, 500) + '...(truncated)' : rawStr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        360
      ],
      "id": "6cca2c17-d8f9-4573-b502-6641aaf357a5",
      "name": "Interpret Cache dfs-taint"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        360
      ],
      "id": "0723c099-af72-45e7-983b-dba4a1a8effc",
      "name": "If Cache Hit dfs-taint"
    },
    {
      "parameters": {
        "jsCode": "// Use cachedRecord for dfs-taint\nconst j = $json || {};\nconst rec = j.cachedRecord;\nlet findings = [];\nif (rec) {\n  if (Array.isArray(rec.findings)) findings = rec.findings;\n  else if (Array.isArray(rec)) findings = rec;\n  else if (typeof rec === 'object') findings = [rec];\n}\nreturn [{\n  json: {\n    ...j,\n    line: \"dfs-taint\",\n    cacheHit: true,\n    parseOk: j.cacheParseOk === true,\n    parseError: j.cacheError || \"\",\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "id": "09ec94d4-d778-4945-90bb-c9c50f587bbc",
      "name": "Use Cached dfs-taint"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $json.scanConfig || {};\nconst stage0Context = $node[\"Stage0 Aggregate Context\"]?.json?.stage0Context || {};\nconst lim = cfg.limits && cfg.limits.dfsTaint ? cfg.limits.dfsTaint : {};\nconst callLimit = lim.callLimit || 28;\n\nconst sinkNames = Array.isArray(lim.sinkNames) && lim.sinkNames.length ? lim.sinkNames : [\"Runtime.exec(String)\"];\nconst sinkCandidates = Array.isArray(lim.sinkCandidates) ? lim.sinkCandidates : [];\nconst semanticHints = $json.semanticHints || [];\n\nconst depth = lim.depth || 10;\nconst maxLimit = lim.maxLimit || 80;\nconst maxPaths = lim.maxPaths || 80;\nconst timeoutMs = lim.timeoutMs || 90000;\nconst onlyFromWeb = lim.onlyFromWeb !== false;\nconst resultLimit = lim.resultLimit || 120;\nconst compact = lim.compact !== false;\n\nconst blacklistRaw = lim.blacklist;\nlet blacklist = '';\nif (Array.isArray(blacklistRaw)) {\n  blacklist = blacklistRaw.join(',');\n} else if (typeof blacklistRaw === 'string') {\n  blacklist = blacklistRaw.trim();\n}\nconst blacklistArg = blacklist ? `, blacklist=${blacklist}` : '';\n\nconst candidateText = sinkCandidates.length\n  ? JSON.stringify(sinkCandidates.slice(0, 12), null, 2)\n  : JSON.stringify(sinkNames, null, 2);\n\nconst chatInput = `\n你是 DFS/Taint 链路分析助手，请使用 **flow_start / flow_job** 完成链路发现。\n目标：围绕关键 sink 找到可达 source，并输出 findings（含证据链）。\n\n[stage0Context]\n${JSON.stringify(stage0Context, null, 2)}\n\n[semanticHints]\n${JSON.stringify(semanticHints, null, 2)}\n\n候选 sink（优先使用 class/method/desc，如果没有则使用 sinkName 列表）：\n${candidateText}\n\n步骤：\n1) 选择 3~6 个最关键的 sink 候选：\n   - 若是对象格式（含 class/method/desc），调用：\n     flow_start(engine=\"dfs\", mode=\"sink\", sinkClass=..., sinkMethod=..., sinkDesc=..., searchAllSources=true,\n       depth=${depth}, maxLimit=${maxLimit}, maxPaths=${maxPaths}, timeoutMs=${timeoutMs}, onlyFromWeb=${onlyFromWeb}${blacklistArg})\n   - 若是字符串 sinkName，则用：\n     flow_start(engine=\"dfs\", mode=\"sink\", sinkName=sinkName, searchAllSources=true,\n       depth=${depth}, maxLimit=${maxLimit}, maxPaths=${maxPaths}, timeoutMs=${timeoutMs}, onlyFromWeb=${onlyFromWeb}${blacklistArg})\n2) 对每个 dfs job：\n   - 使用 flow_job(engine=\"dfs\", jobId, action=\"status\") 轮询到完成\n   - 完成后用 flow_job(engine=\"dfs\", jobId, action=\"results\", limit=${resultLimit}, offset=0, compact=${compact})\n3) （可选）对 1~3 个最有价值的 dfs job 运行 taint：\n   - flow_start(engine=\"taint\", dfsJobId, timeoutMs=${timeoutMs}, maxPaths=${maxPaths})\n   - flow_job(engine=\"taint\", jobId, action=\"results\", limit=${resultLimit}, offset=0)\n4) 将 DFS/Taint 结果转换为 findings：\n   - type：按 sink 类型归类（command_exec/sql/jndi/deserialization/ssrf/file_io 等）\n   - severity：高危链路优先 high\n   - confidence：onlyFromWeb=true 时可提升\n   - trace：使用 results.items[].methods 或 edges 形成从 source 到 sink 的链路\n\n注意：\n- 如果 job 结果为空或 truncated，请输出 1 条 findings 说明 truncated/recommend\n- 无发现则返回 []\n`;\n\nreturn [{ json: { ...$json, line: \"dfs-taint\", callLimit, chatInput } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        420
      ],
      "id": "374f7b98-30d3-4b5b-aabc-e6e5e8c8a5d5",
      "name": "Build Prompt dfs-taint"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你正在执行 dfs-taint 线。\n只允许使用：flow_start / flow_job / code_get。\n必须：只输出 JSON 数组；无发现输出 []；控制输出规模；不得猜测。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2200,
        420
      ],
      "id": "41e37e67-e75c-450b-a4bf-02965fc4c2a4",
      "name": "Agent dfs-taint",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output into {line, findings[]} while preserving context fields (e.g., cacheKey/projectKey).\nconst ctx = $json || {};\nconst line = ctx.line || (ctx.context && ctx.context.line) || \"unknown\";\n\nfunction extractText(v) {\n  if (v === null || v === undefined) return \"\";\n  if (typeof v === \"string\") return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nlet raw = ctx.output ?? ctx.text ?? ctx.data ?? ctx;\nlet s = extractText(raw).trim();\n\n// Strip markdown fences if present\nconst fence = s.match(/```json\\s*([\\s\\S]*?)```/i);\nif (fence && fence[1]) s = fence[1].trim();\n\nlet findings = [];\nlet parseOk = false;\nlet parseError = \"\";\n\nif (!s) {\n  parseError = \"empty_response\";\n} else {\n  try {\n    const obj = JSON.parse(s);\n    if (Array.isArray(obj)) {\n      findings = obj;\n      parseOk = true;\n    } else if (obj && typeof obj === \"object\") {\n      if (Array.isArray(obj.findings)) {\n        findings = obj.findings;\n        parseOk = true;\n      } else if (Array.isArray(obj.data)) {\n        findings = obj.data;\n        parseOk = true;\n      } else {\n        parseError = \"json_object_without_findings_array\";\n      }\n    } else {\n      parseError = \"json_not_array\";\n    }\n  } catch (e) {\n    parseError = e.message || String(e);\n  }\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    line,\n    parseOk,\n    parseError,\n    findings: Array.isArray(findings) ? findings : []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        420
      ],
      "id": "37b89d74-a825-46e4-8a4f-08688e32cddf",
      "name": "Parse dfs-taint"
    },
    {
      "parameters": {
        "jsCode": "// Prepare cacheValue JSON for dfs-taint\nconst j = $json || {};\nif (j.parseOk !== true) {\n  return [];\n}\nconst cacheValue = JSON.stringify({\n  line: \"dfs-taint\",\n  savedAt: new Date().toISOString(),\n  findings: Array.isArray(j.findings) ? j.findings : []\n});\nreturn [{\n  json: {\n    ...j,\n    cacheValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        420
      ],
      "id": "51dc9025-e9c3-47aa-99e6-97fdfbe0b83d",
      "name": "Prepare Cache Value dfs-taint"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cacheKey }}",
        "value": "={{ $json.cacheValue }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.cacheTtlSeconds }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2800,
        420
      ],
      "id": "a7a26d79-048b-4bdd-a79c-ecb1b76ae8d1",
      "name": "Redis SET dfs-taint",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500,
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_YOUR_REDIS_CREDENTIAL_ID",
          "name": "Redis account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3000,
        120
      ],
      "id": "9e0ab6bb-27a6-4c6c-8332-723051b9afdf",
      "name": "Merge Lines"
    },
    {
      "parameters": {
        "jsCode": "// Collect findings from 5 lines (Redis version), normalize schema, de-duplicate,\n// and output one item per unique finding that is NOT already covered by cacheHit results.\nconst inputs = $input.all();\n\nconst allowedSev = new Set(['high','medium','low']);\nconst allowedConf = new Set(['high','medium','low']);\n\nfunction normStr(v) {\n  if (v === null || v === undefined) return '';\n  return String(v);\n}\n\nfunction normLevel(v, defVal) {\n  const s = normStr(v).trim().toLowerCase();\n  if (allowedSev.has(s)) return s;\n  if (allowedConf.has(s)) return s;\n  return defVal;\n}\n\nfunction normalizeClassName(c) {\n  const s = normStr(c).trim();\n  if (!s) return '';\n  return s.replace(/\\//g, '.');\n}\n\nfunction normalizeTrace(trace, fallback) {\n  let t = [];\n  if (Array.isArray(trace)) {\n    t = trace.map(x => {\n      const o = (x && typeof x === 'object') ? x : {};\n      return {\n        class: normalizeClassName(o.class || o.className || o.cls || ''),\n        method: normStr(o.method || o.methodName || '').trim(),\n        desc: normStr(o.desc || o.methodDesc || '').trim(),\n      };\n    }).filter(x => x.class || x.method || x.desc);\n  }\n  if (!t.length && fallback) {\n    t = [fallback].filter(x => x.class || x.method || x.desc);\n  }\n  if (!t.length) t = [{class:'', method:'', desc:''}];\n  return t;\n}\n\nfunction clampInt(n, min, max) {\n  const x = parseInt(n, 10);\n  if (Number.isNaN(x)) return null;\n  return Math.min(max, Math.max(min, x));\n}\n\nfunction scoreBy(sev, conf) {\n  const s = sev || 'low';\n  const c = conf || 'low';\n  const table = {\n    'high':   {'high':9, 'medium':8, 'low':7},\n    'medium': {'high':7, 'medium':6, 'low':5},\n    'low':    {'high':4, 'medium':3, 'low':2},\n  };\n  return table[s]?.[c] ?? 3;\n}\n\nfunction maskSecret(v) {\n  const s = normStr(v).trim();\n  if (s.length <= 8) return s ? (s[0] + '***') : '';\n  return s.slice(0,4) + '***' + s.slice(-4);\n}\n\nfunction canonicalType(line, type, f) {\n  const t = normStr(type).trim();\n  const ruleName = normStr(f.ruleName || f.rule || f.name || '').trim();\n  const sinkName = normStr(f.sinkName || f.sink || '').trim();\n\n  if (t.startsWith('vul-rule::')) return t;\n\n  if (line === 'vul-rules') {\n    if (ruleName) return `vul-rule::${ruleName}`;\n    if (t) return `vul-rule::${t}`;\n  }\n\n  const sname = sinkName || t;\n  if (/Runtime\\.exec/i.test(sname) || /ProcessBuilder/i.test(sname)) return 'command_execution';\n  if (/InitialContext\\.lookup/i.test(sname) || /Context\\.lookup/i.test(sname) || /DirContext\\.search/i.test(sname) || /LdapContext\\.search/i.test(sname)) return 'jndi_injection';\n  if (/Statement\\.execute|executeQuery|executeUpdate|prepareStatement/i.test(sname)) return 'sql_injection';\n  if (/ObjectInputStream\\.readObject|XMLDecoder\\.readObject|Hessian.*readObject|XStream\\.fromXML|Yaml\\.load|JSON\\.parseObject|ObjectMapper\\.readValue/i.test(sname)) return 'insecure_deserialization';\n  if (/URL\\.openConnection|HttpURLConnection\\.connect/i.test(sname)) return 'ssrf';\n  if (/File(Input|Output)Stream\\.new|RandomAccessFile\\.new|File\\.delete/i.test(sname)) return 'file_io';\n\n  if (line === 'sca-leak') {\n    if (t === 'secret_leak') return 'secret_leak';\n    if (t === 'dependency_cve') return 'dependency_cve';\n    if (t === 'gadget_presence' || t === 'deserialization_gadget') return t;\n  }\n\n  if (t) return t;\n  return 'unknown';\n}\n\nfunction normalizeFinding(line, f, fromCache) {\n  const obj = (f && typeof f === 'object') ? f : {};\n  const out = {};\n\n  out.line = normStr(obj.line || line || 'unknown').trim() || 'unknown';\n  out.fromCache = !!fromCache;\n\n  out.ruleName = normStr(obj.ruleName || obj.rule || obj.name || '').trim() || undefined;\n  out.sinkName = normStr(obj.sinkName || obj.sink || '').trim() || undefined;\n  out.type = canonicalType(out.line, obj.type, { ...obj, ruleName: out.ruleName, sinkName: out.sinkName });\n\n  let sev = normLevel(obj.severity, 'low');\n  let conf = normLevel(obj.confidence, 'low');\n\n  if (out.type === 'secret_leak') { sev = 'high'; conf = 'high'; }\n\n  const cvss = obj.cvss ?? (obj.evidence && obj.evidence.cvss);\n  const cvssNum = typeof cvss === 'number' ? cvss : parseFloat(cvss);\n  if (out.type === 'dependency_cve' && !Number.isNaN(cvssNum)) {\n    if (cvssNum >= 9.0) sev = 'high';\n    else if (cvssNum >= 7.0) sev = 'medium';\n    else sev = 'low';\n    conf = 'high';\n  }\n\n  out.severity = allowedSev.has(sev) ? sev : 'low';\n  out.confidence = allowedConf.has(conf) ? conf : 'low';\n\n  let score = clampInt(obj.score, 1, 10);\n  if (score === null) {\n    if (out.type === 'dependency_cve' && !Number.isNaN(cvssNum)) {\n      score = Math.max(1, Math.min(10, Math.round(cvssNum)));\n    } else {\n      score = scoreBy(out.severity, out.confidence);\n    }\n  }\n  out.score = score;\n\n  const fallback = {\n    class: normalizeClassName(obj.className || obj.class || ''),\n    method: normStr(obj.methodName || obj.method || '').trim(),\n    desc: normStr(obj.methodDesc || obj.desc || '').trim(),\n  };\n  out.trace = normalizeTrace(obj.trace, fallback);\n\n  let reason = normStr(obj.reason || '').trim();\n  if (!reason) {\n    if (out.type === 'secret_leak') {\n      const tn = normStr(obj.typeName || (obj.evidence && obj.evidence.typeName) || '').trim();\n      const val = maskSecret(obj.value || (obj.evidence && obj.evidence.value));\n      reason = `Potential secret leak (${tn}) value=${val}`;\n    } else if (out.type === 'dependency_cve') {\n      const cve = normStr(obj.cve || (obj.evidence && obj.evidence.cve) || '').trim();\n      const proj = normStr(obj.project || (obj.evidence && obj.evidence.project) || '').trim();\n      const ver = normStr(obj.version || (obj.evidence && obj.evidence.version) || '').trim();\n      reason = `Dependency vulnerability ${cve} ${proj} ${ver}`.trim();\n    } else if (out.type.startsWith('vul-rule::')) {\n      reason = `Rule hit: ${out.type}`;\n    } else {\n      reason = `${out.type} hit`;\n    }\n  }\n  if (reason.length > 500) reason = reason.slice(0, 500) + '...';\n  out.reason = reason;\n\n  if (obj.evidence && typeof obj.evidence === 'object') {\n    out.evidence = obj.evidence;\n  } else {\n    const ev = {};\n    for (const k of ['jarName','jarPath','actualPath','restfulType','path','value','typeName','cve','cvss','project','version','matchedJarNames','matchedJarPaths']) {\n      if (obj[k] !== undefined && obj[k] !== null && normStr(obj[k]).trim() !== '') ev[k] = obj[k];\n    }\n    if (Object.keys(ev).length) out.evidence = ev;\n  }\n\n  return out;\n}\n\nfunction dedupKey(f) {\n  const t0 = f.trace && f.trace.length ? f.trace[0] : {class:'', method:'', desc:''};\n  const anchor = `${t0.class}#${t0.method}${t0.desc ? ':'+t0.desc : ''}`;\n  const extra = f.ruleName ? `|rule=${f.ruleName}` : (f.sinkName ? `|sink=${f.sinkName}` : '');\n  if (f.type === 'secret_leak') {\n    const tn = normStr(f.evidence && f.evidence.typeName || '');\n    const val = maskSecret(f.evidence && f.evidence.value || '');\n    return `${f.type}|${tn}|${val}|${anchor}`;\n  }\n  if (f.type === 'dependency_cve') {\n    const cve = normStr(f.evidence && f.evidence.cve || '');\n    const jar = normStr(f.evidence && f.evidence.jarPath || f.evidence && f.evidence.jarName || '');\n    return `${f.type}|${cve}|${jar}|${anchor}`;\n  }\n  return `${f.type}|${anchor}${extra}`;\n}\n\nfunction rank(f) {\n  const cw = {high:3, medium:2, low:1};\n  return (cw[f.confidence] || 1) * 100 + (cw[f.severity] || 1) * 10 + (f.score || 0);\n}\n\n// Collect all findings with cache flags\nconst all = [];\nfor (const it of inputs) {\n  const line = it.json && it.json.line ? it.json.line : 'unknown';\n  const fromCache = it.json && it.json.cacheHit === true;\n  const arr = Array.isArray(it.json && it.json.findings) ? it.json.findings : [];\n  for (const f of arr) all.push({ line, f, fromCache });\n}\n\n// Normalize, track cached keys, and dedup by best rank\nconst cachedKeys = new Set();\nconst best = new Map();\n\nfor (const {line, f, fromCache} of all) {\n  const nf = normalizeFinding(line, f, fromCache);\n  const key = dedupKey(nf);\n  nf.dedupKey = key;\n\n  if (fromCache) cachedKeys.add(key);\n\n  const prev = best.get(key);\n  if (!prev || rank(nf) > rank(prev)) best.set(key, nf);\n}\n\nconst unique = Array.from(best.values())\n  .filter(f => !cachedKeys.has(f.dedupKey)) // do not re-report keys already in cache\n  .sort((a,b) => rank(b) - rank(a));\n\n// Output items\nreturn unique.map(f => ({ json: f }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        120
      ],
      "id": "cc6f2c6e-6338-46a1-a940-632c4930408f",
      "name": "Collect Normalize Dedup"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3400,
        120
      ],
      "id": "943ea35d-bfb3-4170-a6b8-d4cb7b622130",
      "name": "Loop Findings"
    },
    {
      "parameters": {
        "amount": 200,
        "unit": "milliseconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3600,
        120
      ],
      "id": "02bdcccd-f216-402a-bce4-63ace8b05294",
      "name": "Rate Limit"
    },
    {
      "parameters": {
        "jsCode": "// Build a deterministic instruction for the reporter agent to call MCP report tool exactly once.\nconst f = $json || {};\nconst type = String(f.type || 'unknown');\nconst reason = String(f.reason || '').trim() || `${type} hit`;\nconst score = (typeof f.score === 'number' ? f.score : parseInt(f.score, 10)) || 5;\n\nlet trace = [];\nif (Array.isArray(f.trace)) {\n  trace = f.trace.map(x => ({\n    class: String(x.class ?? '').replace(/\\//g,'.'),\n    method: String(x.method ?? ''),\n    desc: String(x.desc ?? ''),\n  }));\n}\nif (!trace.length) trace = [{class:'', method:'', desc:''}];\n\nconst payload = { type, reason, score, trace };\n\nconst chatInput = `请使用工具 report 上报以下漏洞。必须只调用一次 report 工具并传入完整 JSON；调用后只输出 {\"ok\":true}。\nreport 参数 JSON：\n${JSON.stringify(payload, null, 2)}\n`;\n\nreturn [{ json: { ...f, callLimit: 2, chatInput, reportPayload: payload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        120
      ],
      "id": "f24178d9-0c98-418d-a1f9-bf6dce108fb6",
      "name": "Build Report Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "你是报告生成助手。\n要求：\n1) 调用 report 服务写入完整报告，字段以输入 JSON 为准；缺失字段用默认值补齐。\n2) 最终只输出一个 JSON：{\"ok\":true}。",
          "maxIterations": "={{ $json.callLimit }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4000,
        120
      ],
      "id": "1a7803ca-6d6f-4c94-89a3-fd0a5a913a54",
      "name": "Reporter Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Workflow finished.\nreturn [{json:{ok:true, message:\"Audit workflow finished\"}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        240
      ],
      "id": "3271c337-b1f6-4be8-8625-eff8884d29df",
      "name": "Done"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scanConfig.enableGraphLite }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        -180
      ],
      "id": "963c237e-a1fb-40dc-aea3-0b006fc65454",
      "name": "If Enable graph-lite"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scanConfig.enableVulRules }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "530c0c08-da99-4304-a763-c628ae1237f5",
      "name": "If Enable vul-rules"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scanConfig.enableScaLeak }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        180
      ],
      "id": "164d6c62-8c28-44f0-a40e-be7b0c248f90",
      "name": "If Enable sca-leak"
    },
    {
      "parameters": {
        "jsCode": "// graph-lite disabled: return empty findings placeholder so merge can proceed.\nreturn [{\n  json: {\n    line: \"graph-lite\",\n    parseOk: true,\n    parseError: \"disabled\",\n    findings: []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -60
      ],
      "id": "9b502a2e-3874-4ed0-813b-fc133df90e5d",
      "name": "Graph-lite Disabled"
    },
    {
      "parameters": {
        "jsCode": "// vul-rules disabled: return empty findings placeholder so merge can proceed.\nreturn [{\n  json: {\n    line: \"vul-rules\",\n    parseOk: true,\n    parseError: \"disabled\",\n    findings: []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        120
      ],
      "id": "9f16a145-e2a0-48d2-be89-bc92b58940bf",
      "name": "Vul-rules Disabled"
    },
    {
      "parameters": {
        "jsCode": "// sca-leak disabled: return empty findings placeholder so merge can proceed.\nreturn [{\n  json: {\n    line: \"sca-leak\",\n    parseOk: true,\n    parseError: \"disabled\",\n    findings: []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "id": "d2ff728b-49e8-4090-afdf-54fc28b9a000",
      "name": "Sca-leak Disabled"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints?type=servlet",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -560
      ],
      "id": "5132753b-8787-4a78-9c6e-8f99a9c288e4",
      "name": "AuditFast Get All Servlet"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints?type=filter",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -480
      ],
      "id": "6dd131f7-5bc9-4e7f-861f-fa6d0a2b490d",
      "name": "AuditFast Get All Filter"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints?type=listener",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -400
      ],
      "id": "491230b8-8a3f-41b4-97b1-9dac4c097756",
      "name": "AuditFast Get All Listener"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints?type=spring_controller",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -320
      ],
      "id": "13969d6d-86c9-4f07-a18b-f2c55a2668b4",
      "name": "AuditFast Get All Spring Controller"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints?type=spring_interceptor",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        -240
      ],
      "id": "a563b708-184f-46b3-9b5a-8d291feca00f",
      "name": "AuditFast Get All Spring Interceptor"
    },
    {
      "parameters": {
        "jsCode": "// Normalize API output into {className, entryType}\nconst items = $input.all();\nconst out = [];\n\nfunction pushVal(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    out.push({ json: { className: v.trim(), entryType: \"servlet\" } });\n    return;\n  }\n  if (typeof v === 'object') {\n    const cn = v.className || v.class || v.name;\n    if (cn) out.push({ json: { className: String(cn).trim(), entryType: \"servlet\" } });\n  }\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushVal(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : Array.isArray(j.list) ? j.list\n      : null;\n    if (arr) {\n      for (const v of arr) pushVal(v);\n      continue;\n    }\n  }\n  pushVal(j);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -560
      ],
      "id": "57bebd20-5900-4054-88f0-d982284b8e37",
      "name": "AuditFast Tag Servlet"
    },
    {
      "parameters": {
        "jsCode": "// Normalize API output into {className, entryType}\nconst items = $input.all();\nconst out = [];\n\nfunction pushVal(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    out.push({ json: { className: v.trim(), entryType: \"filter\" } });\n    return;\n  }\n  if (typeof v === 'object') {\n    const cn = v.className || v.class || v.name;\n    if (cn) out.push({ json: { className: String(cn).trim(), entryType: \"filter\" } });\n  }\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushVal(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : Array.isArray(j.list) ? j.list\n      : null;\n    if (arr) {\n      for (const v of arr) pushVal(v);\n      continue;\n    }\n  }\n  pushVal(j);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -480
      ],
      "id": "b3831ac2-b054-4f88-b132-9049e0a0c646",
      "name": "AuditFast Tag Filter"
    },
    {
      "parameters": {
        "jsCode": "// Normalize API output into {className, entryType}\nconst items = $input.all();\nconst out = [];\n\nfunction pushVal(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    out.push({ json: { className: v.trim(), entryType: \"listener\" } });\n    return;\n  }\n  if (typeof v === 'object') {\n    const cn = v.className || v.class || v.name;\n    if (cn) out.push({ json: { className: String(cn).trim(), entryType: \"listener\" } });\n  }\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushVal(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : Array.isArray(j.list) ? j.list\n      : null;\n    if (arr) {\n      for (const v of arr) pushVal(v);\n      continue;\n    }\n  }\n  pushVal(j);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -400
      ],
      "id": "616574eb-3099-4d10-b888-1837fff06fa1",
      "name": "AuditFast Tag Listener"
    },
    {
      "parameters": {
        "jsCode": "// Normalize API output into {className, entryType}\nconst items = $input.all();\nconst out = [];\n\nfunction pushVal(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    out.push({ json: { className: v.trim(), entryType: \"spring_controller\" } });\n    return;\n  }\n  if (typeof v === 'object') {\n    const cn = v.className || v.class || v.name;\n    if (cn) out.push({ json: { className: String(cn).trim(), entryType: \"spring_controller\" } });\n  }\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushVal(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : Array.isArray(j.list) ? j.list\n      : null;\n    if (arr) {\n      for (const v of arr) pushVal(v);\n      continue;\n    }\n  }\n  pushVal(j);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -320
      ],
      "id": "969f58f1-f94e-4805-acf2-822310cf0fb4",
      "name": "AuditFast Tag Spring Controller"
    },
    {
      "parameters": {
        "jsCode": "// Normalize API output into {className, entryType}\nconst items = $input.all();\nconst out = [];\n\nfunction pushVal(v) {\n  if (!v) return;\n  if (typeof v === 'string') {\n    out.push({ json: { className: v.trim(), entryType: \"spring_interceptor\" } });\n    return;\n  }\n  if (typeof v === 'object') {\n    const cn = v.className || v.class || v.name;\n    if (cn) out.push({ json: { className: String(cn).trim(), entryType: \"spring_interceptor\" } });\n  }\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushVal(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : Array.isArray(j.list) ? j.list\n      : null;\n    if (arr) {\n      for (const v of arr) pushVal(v);\n      continue;\n    }\n  }\n  pushVal(j);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -240
      ],
      "id": "cea1e748-a754-4ea6-8106-a1841b8badc7",
      "name": "AuditFast Tag Spring Interceptor"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        820,
        -400
      ],
      "id": "e8e1d285-0d0e-4fe3-b773-dd087c70fe1f",
      "name": "AuditFast Merge Entrypoints",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// De-duplicate entrypoints and tag controller flag\nconst items = $input.all();\nconst map = new Map();\n\nfor (const it of items) {\n  const j = it.json || {};\n  const cn = (j.className || '').trim();\n  if (!cn) continue;\n  const t = (j.entryType || '').trim();\n  const prev = map.get(cn) || { className: cn, entryTypes: [] };\n  if (t && !prev.entryTypes.includes(t)) prev.entryTypes.push(t);\n  map.set(cn, prev);\n}\n\nconst out = [];\nfor (const v of map.values()) {\n  v.isController = v.entryTypes.includes('spring_controller');\n  v.entryType = v.entryTypes[0] || '';\n  out.push({ json: v });\n}\n\n// Optional: limit number of entries to avoid overload\nconst lim = ($node['Init Scan Config']?.json?.scanConfig?.limits?.auditFast) || {};\nconst entryLimit = lim.entryLimit || lim.mappingSampleLimit || 120;\nreturn out.slice(0, entryLimit);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -400
      ],
      "id": "47d89b29-a2b6-4eb3-8fd9-30a3bdbc629f",
      "name": "AuditFast Dedup Entrypoints"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/class/info?class={{ $json.className }}",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -400
      ],
      "id": "6521efef-3288-43d5-9852-d50d3a4ca705",
      "name": "AuditFast Get Class Info"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/methods/search?class={{ $json.className }}",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1400,
        -400
      ],
      "id": "64ebfd1b-e89f-46f6-a3e0-b1f122030d31",
      "name": "AuditFast Get Methods"
    },
    {
      "parameters": {
        "jsCode": "// Collect method list for one entry and attach class info\nconst entry = $node['AuditFast Dedup Entrypoints']?.json || {};\nconst classInfo = $node['AuditFast Get Class Info']?.json || {};\nconst items = $input.all();\nlet methods = [];\n\nfunction pushMethod(v) {\n  if (!v) return;\n  if (typeof v !== 'object') return;\n  const m = {\n    methodName: v.methodName || v.method || v.name || '',\n    methodDesc: v.methodDesc || v.desc || v.signature || '',\n    isStatic: v.isStaticInt ?? v.isStatic ?? v.static ?? null\n  };\n  if (m.methodName || m.methodDesc) methods.push(m);\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushMethod(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.methods) ? j.methods\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : null;\n    if (arr) {\n      for (const v of arr) pushMethod(v);\n      continue;\n    }\n  }\n  pushMethod(j);\n}\n\nreturn [{\n  json: {\n    ...entry,\n    classInfo,\n    methods\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -400
      ],
      "id": "85ca921b-07e4-42af-aae1-148a747dc30c",
      "name": "AuditFast Collect Methods"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isController }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        -260
      ],
      "id": "d1ebd7cd-23bc-44e9-93ee-802c37d14ba4",
      "name": "AuditFast If Controller"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/entrypoints/mappings?class={{ $json.className }}",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1400,
        -260
      ],
      "id": "147f6fb5-0b2e-48c3-a28d-a8992f1a4559",
      "name": "AuditFast Get Mappings"
    },
    {
      "parameters": {
        "jsCode": "// Normalize spring mappings into array\nconst items = $input.all();\nlet mappings = [];\n\nfunction pushMap(v) {\n  if (!v) return;\n  if (typeof v !== 'object') return;\n  mappings.push(v);\n}\n\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) {\n    for (const v of j) pushMap(v);\n    continue;\n  }\n  if (j && typeof j === 'object') {\n    const arr = Array.isArray(j.data) ? j.data\n      : Array.isArray(j.mappings) ? j.mappings\n      : Array.isArray(j.items) ? j.items\n      : Array.isArray(j.result) ? j.result\n      : null;\n    if (arr) {\n      for (const v of arr) pushMap(v);\n      continue;\n    }\n  }\n  pushMap(j);\n}\n\nreturn [{ json: { mappings } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -260
      ],
      "id": "49baa879-a492-4e29-b997-13e18fa57a55",
      "name": "AuditFast Normalize Mappings"
    },
    {
      "parameters": {
        "jsCode": "// No mappings placeholder\nreturn [{ json: { mappings: [] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -160
      ],
      "id": "a45875f9-b638-4db8-9a3c-e356661c554e",
      "name": "AuditFast No Mappings"
    },
    {
      "parameters": {
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1800,
        -330
      ],
      "id": "6b100812-b9e0-43ee-818d-bbf2fbd9866e",
      "name": "AuditFast Merge Context"
    },
    {
      "parameters": {
        "jsCode": "// Accumulate audit-fast findings across entry loop (per execution)\nconst j = $json || {};\nconst data = $getWorkflowStaticData('node');\nconst execId = $execution?.id || 'unknown';\n\ndata.findingsByExec = data.findingsByExec || {};\nconst arr = Array.isArray(data.findingsByExec[execId]) ? data.findingsByExec[execId] : [];\n\nif (j.parseOk === true && Array.isArray(j.findings)) {\n  arr.push(...j.findings);\n}\n\ndata.findingsByExec[execId] = arr;\n\n// Emit a lightweight item to drive the loop\nreturn [{ json: { ok: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -300
      ],
      "id": "1c71e400-4036-4219-bda1-1859b3240b4b",
      "name": "AuditFast Aggregate Findings"
    },
    {
      "parameters": {
        "jsCode": "// Combine methods + mappings context into a single item\nconst items = $input.all();\nif (!items.length) return [];\nif (items.length === 1) return items;\n\nconst out = {};\nfunction mergeArray(key, arr) {\n  if (!Array.isArray(arr)) return;\n  if (!Array.isArray(out[key])) out[key] = [];\n  for (const v of arr) out[key].push(v);\n}\n\nfor (const it of items) {\n  const j = it.json || {};\n  for (const [k, v] of Object.entries(j)) {\n    if (k === 'methods' || k === 'mappings' || k === 'entryTypes') {\n      mergeArray(k, v);\n      continue;\n    }\n    if (out[k] === undefined || out[k] === null || out[k] === '') {\n      out[k] = v;\n    }\n  }\n}\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        -330
      ],
      "id": "2fd1b2ec-907f-4ca9-8dc5-91341c5bf1da",
      "name": "AuditFast Combine Context"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        -400
      ],
      "id": "83cdd8ca-b673-4d99-8b04-c3379fd5feda",
      "name": "AuditFast Loop Entrypoints"
    },
    {
      "parameters": {
        "amount": 150,
        "unit": "milliseconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1240,
        -400
      ],
      "id": "63a26485-6419-4f21-928c-76f685dd7e2e",
      "name": "AuditFast Rate Limit"
    },
    {
      "parameters": {
        "jsCode": "// Flush accumulated audit-fast findings at end of loop (per execution, Redis workflow)\nconst data = $getWorkflowStaticData('node');\nconst execId = $execution?.id || 'unknown';\nconst findings = Array.isArray(data.findingsByExec?.[execId]) ? data.findingsByExec[execId] : [];\n\nif (data.findingsByExec && execId in data.findingsByExec) {\n  delete data.findingsByExec[execId];\n}\n\nconst baseCtx = $node['Build Cache Key audit-fast']?.json || {};\n\nreturn [{\n  json: {\n    ...baseCtx,\n    line: 'audit-fast',\n    parseOk: true,\n    parseError: '',\n    findings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -520
      ],
      "id": "d3ade40b-1b2d-4759-bafb-310867608efb",
      "name": "AuditFast Flush Findings"
    },
    {
      "parameters": {
        "jsCode": "// Reset audit-fast accumulator for this execution\nconst data = $getWorkflowStaticData('node');\nconst execId = $execution?.id || 'unknown';\n\ndata.findingsByExec = data.findingsByExec || {};\ndata.findingsByExec[execId] = [];\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -400
      ],
      "id": "10108ada-83d2-4f69-b62f-fea201ebf11d",
      "name": "AuditFast Reset Accumulator"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.className ? true : false }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        -460
      ],
      "id": "800505dd-7343-4f03-8721-3656b1404b71",
      "name": "AuditFast Has Entrypoints"
    },
    {
      "parameters": {
        "jsCode": "// No entrypoints: output empty audit-fast findings\nreturn [{\n  json: {\n    line: 'audit-fast',\n    parseOk: true,\n    parseError: 'no_entrypoints',\n    findings: []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -520
      ],
      "id": "e33f8eda-f5da-40d6-9d9c-6941d0d5b065",
      "name": "AuditFast No Entrypoints"
    },
    {
      "parameters": {
        "jsCode": "// Emit parse error record for downstream visibility\nconst j = $json || {};\nif (j.parseOk === true) return [];\nreturn [{ json: { line: j.line || 'unknown', parseOk: false, parseError: j.parseError || '' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -520
      ],
      "id": "1307a88c-2b53-492b-99ac-f3e478450b4e",
      "name": "Parse Error Tap"
    },
    {
      "parameters": {
        "jsCode": "// Convert parse errors into low-confidence findings for visibility\nconst items = $input.all();\nif (!items.length) return [];\nreturn items.map(it => {\n  const e = it.json || {};\n  const line = e.line || 'unknown';\n  return {\n    json: {\n      line,\n      type: 'parser_error',\n      severity: 'low',\n      confidence: 'low',\n      score: 1,\n      reason: `Parse error in ${line}: ${e.parseError || 'unknown'}`,\n      trace: [{ class: '', method: '', desc: '' }]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -520
      ],
      "id": "ba1cd6f1-7921-442e-8adc-d96592538fde",
      "name": "Parse Errors To Findings"
    },
    {
      "parameters": {
        "url": "={{ $('Global Constants').first().json.constants['jar-analyzer-api'] }}api/semantic/hints?limit=60&strLimit=30",
        "options": {
          "headers": {
            "Token": "={{ $('Global Constants').first().json.constants['jar-analyzer-api-token'] || '' }}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        220
      ],
      "id": "30f68fdd-7f52-4d0e-9d1a-140c47c1da6a",
      "name": "Get Semantic Hints dfs-taint"
    },
    {
      "parameters": {
        "jsCode": "const base = $node['If Enable dfs-taint']?.json || $json || {};\nconst response = $json || {};\nlet hints = [];\nif (Array.isArray(response)) hints = response;\nelse if (Array.isArray(response?.data)) hints = response.data;\nelse if (Array.isArray(response?.items)) hints = response.items;\n\nconst scanConfig = base.scanConfig || {};\nconst limits = scanConfig.limits || {};\nconst dfs = limits.dfsTaint || {};\nlimits.dfsTaint = { ...dfs };\nscanConfig.limits = limits;\n\nreturn [{\n  json: {\n    ...base,\n    scanConfig,\n    semanticHints: hints\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        220
      ],
      "id": "d3490bba-4fb4-4a7b-8d64-9b7b1c3f5b4e",
      "name": "Apply Semantic Hints dfs-taint"
    },
    {
      "parameters": {
        "numberInputs": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1400,
        80
      ],
      "id": "15f1d18c-7bc6-463a-8277-30cfc4f1ded0",
      "name": "Stage0 Merge Lines"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate stage0 context from sca-leak + vul-rules\nconst cfg = $node[\"Init Scan Config\"]?.json?.scanConfig || {};\nconst lim = cfg.limits && cfg.limits.stage0 ? cfg.limits.stage0 : {};\nconst maxFindings = lim.maxFindings || 120;\nconst perLineLimit = lim.perLineLimit || 60;\nconst jarNames = $node[\"Init Scan Config\"]?.json?.jarNames || [];\n\nconst items = $input.all();\nconst ctx = {\n  jarNames,\n  jarCount: Array.isArray(jarNames) ? jarNames.length : 0,\n  scaLeak: { count: 0, types: [], samples: [] },\n  vulRules: { count: 0, types: [], ruleNames: [], samples: [] },\n  errors: []\n};\n\nfunction compact(f) {\n  if (!f || typeof f !== 'object') return {};\n  return {\n    type: f.type || '',\n    severity: f.severity || '',\n    confidence: f.confidence || '',\n    score: f.score ?? null,\n    reason: f.reason || '',\n    trace: Array.isArray(f.trace) ? f.trace.slice(0, 4) : f.trace || []\n  };\n}\n\nfunction pushUnique(arr, v) {\n  if (!v) return;\n  if (!arr.includes(v)) arr.push(v);\n}\n\nfunction pushSamples(target, list) {\n  for (const f of list) {\n    if (target.samples.length >= maxFindings) break;\n    target.samples.push(compact(f));\n  }\n}\n\nfor (const it of items) {\n  const j = it.json || {};\n  const line = j.line || '';\n  if (!j.parseOk) {\n    if (j.parseError) ctx.errors.push({ line, error: j.parseError });\n    continue;\n  }\n  const findings = Array.isArray(j.findings) ? j.findings : [];\n  if (!findings.length) continue;\n\n  if (line === 'sca-leak') {\n    ctx.scaLeak.count += findings.length;\n    for (const f of findings.slice(0, perLineLimit)) {\n      pushUnique(ctx.scaLeak.types, f.type);\n    }\n    pushSamples(ctx.scaLeak, findings.slice(0, perLineLimit));\n  }\n  if (line === 'vul-rules') {\n    ctx.vulRules.count += findings.length;\n    for (const f of findings.slice(0, perLineLimit)) {\n      pushUnique(ctx.vulRules.types, f.type);\n      if (f.ruleName) pushUnique(ctx.vulRules.ruleNames, f.ruleName);\n    }\n    pushSamples(ctx.vulRules, findings.slice(0, perLineLimit));\n  }\n}\n\nreturn [{\n  json: {\n    stage0Context: ctx\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        80
      ],
      "id": "9142f395-9394-47b1-9125-b8c06d427a16",
      "name": "Stage0 Aggregate Context"
    }
  ],
  "connections": {
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Get Jars List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jars List": {
      "main": [
        [
          {
            "node": "Compute Project Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Project Key": {
      "main": [
        [
          {
            "node": "Init Scan Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Scan Config": {
      "main": [
        [
          {
            "node": "If Enable vul-rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Enable sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Key audit-fast": {
      "main": [
        [
          {
            "node": "Redis GET audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET audit-fast": {
      "main": [
        [
          {
            "node": "Interpret Cache audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Cache audit-fast": {
      "main": [
        [
          {
            "node": "If Cache Hit audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Hit audit-fast": {
      "main": [
        [
          {
            "node": "Use Cached audit-fast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AuditFast Get All Servlet",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditFast Get All Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditFast Get All Listener",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditFast Get All Spring Controller",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditFast Get All Spring Interceptor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached audit-fast": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt audit-fast": {
      "main": [
        [
          {
            "node": "Agent audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent audit-fast": {
      "main": [
        [
          {
            "node": "Parse audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse audit-fast": {
      "main": [
        [
          {
            "node": "AuditFast Aggregate Findings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error Tap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache Value audit-fast": {
      "main": [
        [
          {
            "node": "Redis SET audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Key graph-lite": {
      "main": [
        [
          {
            "node": "Redis GET graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET graph-lite": {
      "main": [
        [
          {
            "node": "Interpret Cache graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Cache graph-lite": {
      "main": [
        [
          {
            "node": "If Cache Hit graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Hit graph-lite": {
      "main": [
        [
          {
            "node": "Use Cached graph-lite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached graph-lite": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Prompt graph-lite": {
      "main": [
        [
          {
            "node": "Agent graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent graph-lite": {
      "main": [
        [
          {
            "node": "Parse graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse graph-lite": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 1
          },
          {
            "node": "Prepare Cache Value graph-lite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error Tap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache Value graph-lite": {
      "main": [
        [
          {
            "node": "Redis SET graph-lite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Key vul-rules": {
      "main": [
        [
          {
            "node": "Redis GET vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET vul-rules": {
      "main": [
        [
          {
            "node": "Interpret Cache vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Cache vul-rules": {
      "main": [
        [
          {
            "node": "If Cache Hit vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Hit vul-rules": {
      "main": [
        [
          {
            "node": "Use Cached vul-rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached vul-rules": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Build Prompt vul-rules": {
      "main": [
        [
          {
            "node": "Agent vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent vul-rules": {
      "main": [
        [
          {
            "node": "Parse vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse vul-rules": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 2
          },
          {
            "node": "Prepare Cache Value vul-rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stage0 Merge Lines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error Tap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache Value vul-rules": {
      "main": [
        [
          {
            "node": "Redis SET vul-rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Key sca-leak": {
      "main": [
        [
          {
            "node": "Redis GET sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET sca-leak": {
      "main": [
        [
          {
            "node": "Interpret Cache sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Cache sca-leak": {
      "main": [
        [
          {
            "node": "If Cache Hit sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Hit sca-leak": {
      "main": [
        [
          {
            "node": "Use Cached sca-leak",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Prompt sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached sca-leak": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Build Prompt sca-leak": {
      "main": [
        [
          {
            "node": "Agent sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent sca-leak": {
      "main": [
        [
          {
            "node": "Parse sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse sca-leak": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 3
          },
          {
            "node": "Prepare Cache Value sca-leak",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stage0 Merge Lines",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Parse Error Tap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache Value sca-leak": {
      "main": [
        [
          {
            "node": "Redis SET sca-leak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enable dfs-taint": {
      "main": [
        [
          {
            "node": "Build Cache Key dfs-taint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DFS Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DFS Disabled": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Build Cache Key dfs-taint": {
      "main": [
        [
          {
            "node": "Redis GET dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET dfs-taint": {
      "main": [
        [
          {
            "node": "Interpret Cache dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpret Cache dfs-taint": {
      "main": [
        [
          {
            "node": "If Cache Hit dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cache Hit dfs-taint": {
      "main": [
        [
          {
            "node": "Use Cached dfs-taint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Semantic Hints dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Cached dfs-taint": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Build Prompt dfs-taint": {
      "main": [
        [
          {
            "node": "Agent dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent dfs-taint": {
      "main": [
        [
          {
            "node": "Parse dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse dfs-taint": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 4
          },
          {
            "node": "Prepare Cache Value dfs-taint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error Tap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache Value dfs-taint": {
      "main": [
        [
          {
            "node": "Redis SET dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lines": {
      "main": [
        [
          {
            "node": "Collect Normalize Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Normalize Dedup": {
      "main": [
        [
          {
            "node": "Loop Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Findings": {
      "main": [
        [
          {
            "node": "Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit": {
      "main": [
        [
          {
            "node": "Build Report Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report Prompt": {
      "main": [
        [
          {
            "node": "Reporter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporter Agent": {
      "main": [
        [
          {
            "node": "Loop Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agent audit-fast",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent graph-lite",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent vul-rules",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent sca-leak",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent dfs-taint",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Reporter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP audit-fast": {
      "ai_tool": [
        [
          {
            "node": "Agent audit-fast",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP graph-lite": {
      "ai_tool": [
        [
          {
            "node": "Agent graph-lite",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP vul-rules": {
      "ai_tool": [
        [
          {
            "node": "Agent vul-rules",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP sca-leak": {
      "ai_tool": [
        [
          {
            "node": "Agent sca-leak",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP dfs-taint": {
      "ai_tool": [
        [
          {
            "node": "Agent dfs-taint",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP report": {
      "ai_tool": [
        [
          {
            "node": "Reporter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If Enable graph-lite": {
      "main": [
        [
          {
            "node": "Build Cache Key graph-lite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graph-lite Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enable vul-rules": {
      "main": [
        [
          {
            "node": "Build Cache Key vul-rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Vul-rules Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enable sca-leak": {
      "main": [
        [
          {
            "node": "Build Cache Key sca-leak",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sca-leak Disabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graph-lite Disabled": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vul-rules Disabled": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 2
          },
          {
            "node": "Stage0 Merge Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sca-leak Disabled": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 3
          },
          {
            "node": "Stage0 Merge Lines",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AuditFast Get All Servlet": {
      "main": [
        [
          {
            "node": "AuditFast Tag Servlet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get All Filter": {
      "main": [
        [
          {
            "node": "AuditFast Tag Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get All Listener": {
      "main": [
        [
          {
            "node": "AuditFast Tag Listener",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get All Spring Controller": {
      "main": [
        [
          {
            "node": "AuditFast Tag Spring Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get All Spring Interceptor": {
      "main": [
        [
          {
            "node": "AuditFast Tag Spring Interceptor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Tag Servlet": {
      "main": [
        [
          {
            "node": "AuditFast Merge Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Tag Filter": {
      "main": [
        [
          {
            "node": "AuditFast Merge Entrypoints",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AuditFast Tag Listener": {
      "main": [
        [
          {
            "node": "AuditFast Merge Entrypoints",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AuditFast Tag Spring Controller": {
      "main": [
        [
          {
            "node": "AuditFast Merge Entrypoints",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "AuditFast Tag Spring Interceptor": {
      "main": [
        [
          {
            "node": "AuditFast Merge Entrypoints",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "AuditFast Merge Entrypoints": {
      "main": [
        [
          {
            "node": "AuditFast Dedup Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Dedup Entrypoints": {
      "main": [
        [
          {
            "node": "AuditFast Has Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get Class Info": {
      "main": [
        [
          {
            "node": "AuditFast Get Methods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get Methods": {
      "main": [
        [
          {
            "node": "AuditFast Collect Methods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast If Controller": {
      "main": [
        [
          {
            "node": "AuditFast Get Mappings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AuditFast No Mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Get Mappings": {
      "main": [
        [
          {
            "node": "AuditFast Normalize Mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Collect Methods": {
      "main": [
        [
          {
            "node": "AuditFast Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Normalize Mappings": {
      "main": [
        [
          {
            "node": "AuditFast Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AuditFast No Mappings": {
      "main": [
        [
          {
            "node": "AuditFast Merge Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AuditFast Merge Context": {
      "main": [
        [
          {
            "node": "AuditFast Combine Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Aggregate Findings": {
      "main": [
        [
          {
            "node": "AuditFast Loop Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Combine Context": {
      "main": [
        [
          {
            "node": "Build Prompt audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Loop Entrypoints": {
      "main": [
        [
          {
            "node": "AuditFast Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AuditFast Flush Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Rate Limit": {
      "main": [
        [
          {
            "node": "AuditFast Get Class Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "AuditFast If Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Flush Findings": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Cache Value audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Reset Accumulator": {
      "main": [
        [
          {
            "node": "AuditFast Loop Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast Has Entrypoints": {
      "main": [
        [
          {
            "node": "AuditFast Reset Accumulator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AuditFast No Entrypoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AuditFast No Entrypoints": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Cache Value audit-fast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Tap": {
      "main": [
        [
          {
            "node": "Parse Errors To Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Errors To Findings": {
      "main": [
        [
          {
            "node": "Merge Lines",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Stage0 Merge Lines": {
      "main": [
        [
          {
            "node": "Stage0 Aggregate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage0 Aggregate Context": {
      "main": [
        [
          {
            "node": "Build Cache Key audit-fast",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Enable graph-lite",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Enable dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Semantic Hints dfs-taint": {
      "main": [
        [
          {
            "node": "Apply Semantic Hints dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Semantic Hints dfs-taint": {
      "main": [
        [
          {
            "node": "Build Prompt dfs-taint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8acd1db4-8a6e-4210-9790-e4f83a005817",
  "meta": {
    "instanceId": "REPLACE_WITH_YOUR_INSTANCE_ID"
  },
  "id": "REPLACE_WITH_YOUR_WORKFLOW_ID",
  "tags": [],
  "pinData": {}
}